@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

body {
    background: white;
    min-height: 100vh;
    display: flex;
    font-weight: 400;
    font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6, label, span {
    font-weight: 400;
    font-family: sans-serif;
}

body, html, #app, #root, .auth-wrapper {
    width: 100%;
    height: 100%;
}

#app {
    text-align: center;
}

.navbar-light {
    background-color: white;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}

.auth-wrapper {
    justify-content: center;
    flex-direction: column;
    text-align: left;
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    display: table;
}

.auth-inner {
    margin: auto;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    transition: all .3s;
    display: table-cell;
    vertical-align: middle;
}

.modal-container {
    margin: 0px auto;
    background-color: rgba(255, 255, 255, 1.00);
    border-radius: 16px;
    transition: all 0.3s ease;
    width: 400px;
    border-radius: 15px;
}

.auth-wrapper .form-control:focus {
    border-color: black;
    box-shadow: none;
}

.auth-wrapper h3 {
    text-align: center;
    margin: 0;
    line-height: 1;
    padding-bottom: 20px;
}

.costum-control-label {
    font-weight: 400;
}

.forgot-password, .forgot-password a {
    text-align: right;
    font-size: 13px;
    padding-top: 10px;
    color: #7f7d7d;
    margin: 0;
}

.forgot-password a {
    color: #167bff
}

@media only screen and (max-width: 600px) {
    .auth-inner {
        width: 100%;
        padding: 5px;
        margin: auto;
        box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
        padding: 0px;
        transition: all .3s;
        border-radius: 0px;
    }
    body {
        background: white;
    }
    .modal-container {
        width: 100%;
        border-radius: 0px;
    }
}

.aktip {
    color: red;
    border-color: red;
}


 
.kertas:before,
.kertas:after {
  content: "";
  height: 98%;
  position: absolute;
  width: 100%;
  z-index: -1;
}
 
.kertas:before {
  background: #fafafa;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  left: -5px;
  top: 4px;
  transform: rotate(-2.5deg);
}
 
.kertas:after {
  background: #f6f6f6;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  right: -3px;
  top: 1px;
  transform: rotate(1.4deg);
}

.like {
  font-size: 18px;
  position: fixed;
  bottom: 50px;
  right: 40px;
  background-color: blue;
  color: white;
  border: 0;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}